@model IEnumerable<Library.Models.Bookauthor>

@{
    ViewData["Title"] = "Autores | Livros";
}

<div
    class="py-24 text-center w-full rounded-xl shadow-2xl bg-yellow-200 mb-6 leading-none flex justify-center items-center gap-2">
    <i class="material-symbols-outlined m-0">
        warning
    </i>
    <span>
        <strong>Atenção:</strong> Esta página é apenas para a manutenção de relacionamentos entre autores e livros
        previamente cadastrados.
    </span>
</div>

<h1 class="text-3xl mb-2">
    <strong>Cadastro do Relacionamento Autores - Livros</strong>
</h1>

<hr class="mb-6">

<a asp-action="Create" class="create-button mb-3">
    <i class="material-symbols-outlined">
        add_circle
    </i>
</a>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" class="text-center w-full gap-2">
                    <span>
                        Nenhum registro encontrado.
                    </span>
                </td>
            </tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.BookId)
                </td>
                <td class="cell-actions">
                    <a asp-action="Edit" asp-route-id="@item.BookAuthorId">
                        <i class="material-symbols-outlined scale-90">
                            edit_note
                        </i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.BookAuthorId">
                        <i class="material-symbols-outlined scale-90">
                            info
                        </i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.BookAuthorId">
                        <i class="material-symbols-outlined scale-90">
                            delete
                        </i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
